<%= link_to "入力画面へ", "/discounts/new" %>
<% @discounts.each do |discount| %>
  <p>
    <%= "#{discount.price}円の" %>
    <%= "#{discount.rate}％引きは" %>
    <%= "#{discount.price.to_i * (100 - discount.rate.to_i) / 100}円" %>
    <%= link_to '削除', "/discounts/#{discount.id}", method: :delete, data: {confirm: "削除しますか?"}  %>
    <%= link_to '編集', "/discounts/#{discount.id}/edit", method: :get %>
  </p>
<% end %>